.path-news main h3.preview-list-title {
  border: 0;
  font-family: 'opensans-bold';
  font-size: 26px;
  font-size: 2.6rem;
  font-weight: normal;
  line-height: 29px;
  margin-top: 20px;
  margin-bottom: 10px; }

/* VIEWS */
/* - cern-view-display-block cern-view-display-featured_news */
.cern-view-display-block.cern-view-display-featured_news .component-preview-cards {
  background-color: white;
  width: 36%;
  margin-top: 40px;
  min-height: 0; }
  .cern-view-display-block.cern-view-display-featured_news .component-preview-cards .component-preview-cards__box_wrapper {
    min-height: 0;
    height: auto; }
.cern-view-display-block.cern-view-display-featured_news .preview-card {
  /* MANU */ }
  .cern-view-display-block.cern-view-display-featured_news .preview-card__title h3 {
    margin: 10px 0; }
    .cern-view-display-block.cern-view-display-featured_news .preview-card__title h3 a {
      color: #0855a0; }
  .cern-view-display-block.cern-view-display-featured_news .preview-card__category, .cern-view-display-block.cern-view-display-featured_news .preview-card__date, .cern-view-display-block.cern-view-display-featured_news .preview-card__author {
    color: black; }
    .cern-view-display-block.cern-view-display-featured_news .preview-card__category a, .cern-view-display-block.cern-view-display-featured_news .preview-card__date a, .cern-view-display-block.cern-view-display-featured_news .preview-card__author a {
      color: black; }
  .cern-view-display-block.cern-view-display-featured_news .preview-card__avatar {
    width: 65px !important;
    height: 65px !important;
    min-height: unset;
    background: #999999;
    border-radius: 100%;
    padding: 0; }

@media only screen and (max-width: 991px) {
  .cern-view-display-block.cern-view-display-featured_news .component-preview-cards {
    width: 40%;
    margin: 15% 5% 5%; } }
@media only screen and (max-width: 767px) {
  /* MANU */
  .cern-view-display-block.cern-view-display-featured_news .component-preview-cards {
    width: 90%;
    margin: 20% 5% 5%; } }
/* VIEWS */
/* - cern-view-display-block cern-view-display-latest_news */
.cern-view-display-block.cern-view-display-latest_news_pager,
.cern-view-display-block.cern-view-display-latest_featured_news_pager,
.cern-view-display-block.cern-view-display-latest_news,
.cern-view-display-block.cern-view-display-latest_featured_news {
  /*
    .view-content {
      display: flex;
      div.views-row {
        padding: 0 7px;
        width: 33.33333%;
        float: left;
        display: flex;
        &:first-child {
            padding-left: 0;
            padding-right: 14px;
        }
        &:last-child {
            padding-left: 14px;
            padding-right: 0;
        }
        .component-preview-cards {
          width: 100%;
          min-height: 200px;
          margin: 0;
          background-color: #0855a0;
          .component-preview-cards__box_wrapper {
            height: 100%;
            .preview-card {
              &__title {
                h3{
                  margin: 10px 0;
                  a {
                    color: white;
                  }
                }
              }
              &__category,
              &__date,
              &__author {
                color: white;
                font-weight: 200;
                a {
                  color: white;
                  font-weight: 200;
                }
              }
              &__avatar {
                width: 65px !important;
                height: 65px !important;
                min-height: 0;
                background: #999999;
                border-radius: 100%;
                padding: 0;
              }
            }
          }
        }
      }
    } */ }
  .cern-view-display-block.cern-view-display-latest_news_pager .view-header h2,
  .cern-view-display-block.cern-view-display-latest_featured_news_pager .view-header h2,
  .cern-view-display-block.cern-view-display-latest_news .view-header h2,
  .cern-view-display-block.cern-view-display-latest_featured_news .view-header h2 {
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-bottom: 3rem; }
  .cern-view-display-block.cern-view-display-latest_news_pager .view-footer,
  .cern-view-display-block.cern-view-display-latest_featured_news_pager .view-footer,
  .cern-view-display-block.cern-view-display-latest_news .view-footer,
  .cern-view-display-block.cern-view-display-latest_featured_news .view-footer {
    text-align: right;
    margin-top: 3rem; }
    .cern-view-display-block.cern-view-display-latest_news_pager .view-footer a,
    .cern-view-display-block.cern-view-display-latest_featured_news_pager .view-footer a,
    .cern-view-display-block.cern-view-display-latest_news .view-footer a,
    .cern-view-display-block.cern-view-display-latest_featured_news .view-footer a {
      position: relative;
      padding-right: 15px;
      font-weight: bold; }
      .cern-view-display-block.cern-view-display-latest_news_pager .view-footer a:after,
      .cern-view-display-block.cern-view-display-latest_featured_news_pager .view-footer a:after,
      .cern-view-display-block.cern-view-display-latest_news .view-footer a:after,
      .cern-view-display-block.cern-view-display-latest_featured_news .view-footer a:after {
        -webkit-transition: all 0.3s ease-in-out 0s;
        -khtml-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        content: '\j';
        font-size: 40px;
        font-size: 4rem;
        font-family: "cern-icons";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        vertical-align: bottom;
        position: absolute;
        top: 1px;
        right: 0px;
        left: auto;
        line-height: 19px;
        width: 9px;
        text-indent: -16px; }
      .cern-view-display-block.cern-view-display-latest_news_pager .view-footer a:hover:after,
      .cern-view-display-block.cern-view-display-latest_featured_news_pager .view-footer a:hover:after,
      .cern-view-display-block.cern-view-display-latest_news .view-footer a:hover:after,
      .cern-view-display-block.cern-view-display-latest_featured_news .view-footer a:hover:after {
        right: -5px;
        left: auto; }
  .cern-view-display-block.cern-view-display-latest_news_pager .view-content .carousel-cern-item.row .views-row,
  .cern-view-display-block.cern-view-display-latest_featured_news_pager .view-content .carousel-cern-item.row .views-row,
  .cern-view-display-block.cern-view-display-latest_news .view-content .carousel-cern-item.row .views-row,
  .cern-view-display-block.cern-view-display-latest_featured_news .view-content .carousel-cern-item.row .views-row {
    float: left; }
  .cern-view-display-block.cern-view-display-latest_news_pager .view-content,
  .cern-view-display-block.cern-view-display-latest_news_pager .carousel-cern-item.row,
  .cern-view-display-block.cern-view-display-latest_featured_news_pager .view-content,
  .cern-view-display-block.cern-view-display-latest_featured_news_pager .carousel-cern-item.row,
  .cern-view-display-block.cern-view-display-latest_news .view-content,
  .cern-view-display-block.cern-view-display-latest_news .carousel-cern-item.row,
  .cern-view-display-block.cern-view-display-latest_featured_news .view-content,
  .cern-view-display-block.cern-view-display-latest_featured_news .carousel-cern-item.row {
    margin: 0 -8px; }
    .cern-view-display-block.cern-view-display-latest_news_pager .view-content .views-row,
    .cern-view-display-block.cern-view-display-latest_news_pager .carousel-cern-item.row .views-row,
    .cern-view-display-block.cern-view-display-latest_featured_news_pager .view-content .views-row,
    .cern-view-display-block.cern-view-display-latest_featured_news_pager .carousel-cern-item.row .views-row,
    .cern-view-display-block.cern-view-display-latest_news .view-content .views-row,
    .cern-view-display-block.cern-view-display-latest_news .carousel-cern-item.row .views-row,
    .cern-view-display-block.cern-view-display-latest_featured_news .view-content .views-row,
    .cern-view-display-block.cern-view-display-latest_featured_news .carousel-cern-item.row .views-row {
      margin: 8px;
      width: calc(33.333% - 16px);
      float: left; }
      .cern-view-display-block.cern-view-display-latest_news_pager .view-content .views-row .component-preview-cards,
      .cern-view-display-block.cern-view-display-latest_news_pager .carousel-cern-item.row .views-row .component-preview-cards,
      .cern-view-display-block.cern-view-display-latest_featured_news_pager .view-content .views-row .component-preview-cards,
      .cern-view-display-block.cern-view-display-latest_featured_news_pager .carousel-cern-item.row .views-row .component-preview-cards,
      .cern-view-display-block.cern-view-display-latest_news .view-content .views-row .component-preview-cards,
      .cern-view-display-block.cern-view-display-latest_news .carousel-cern-item.row .views-row .component-preview-cards,
      .cern-view-display-block.cern-view-display-latest_featured_news .view-content .views-row .component-preview-cards,
      .cern-view-display-block.cern-view-display-latest_featured_news .carousel-cern-item.row .views-row .component-preview-cards {
        margin: 0;
        width: 100%;
        background-color: #0855a0; }
        .cern-view-display-block.cern-view-display-latest_news_pager .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__title h3,
        .cern-view-display-block.cern-view-display-latest_news_pager .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__title h3,
        .cern-view-display-block.cern-view-display-latest_featured_news_pager .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__title h3,
        .cern-view-display-block.cern-view-display-latest_featured_news_pager .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__title h3,
        .cern-view-display-block.cern-view-display-latest_news .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__title h3,
        .cern-view-display-block.cern-view-display-latest_news .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__title h3,
        .cern-view-display-block.cern-view-display-latest_featured_news .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__title h3,
        .cern-view-display-block.cern-view-display-latest_featured_news .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__title h3 {
          margin: 10px 0; }
          .cern-view-display-block.cern-view-display-latest_news_pager .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__title h3 a,
          .cern-view-display-block.cern-view-display-latest_news_pager .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__title h3 a,
          .cern-view-display-block.cern-view-display-latest_featured_news_pager .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__title h3 a,
          .cern-view-display-block.cern-view-display-latest_featured_news_pager .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__title h3 a,
          .cern-view-display-block.cern-view-display-latest_news .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__title h3 a,
          .cern-view-display-block.cern-view-display-latest_news .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__title h3 a,
          .cern-view-display-block.cern-view-display-latest_featured_news .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__title h3 a,
          .cern-view-display-block.cern-view-display-latest_featured_news .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__title h3 a {
            color: white; }
        .cern-view-display-block.cern-view-display-latest_news_pager .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__category, .cern-view-display-block.cern-view-display-latest_news_pager .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__date, .cern-view-display-block.cern-view-display-latest_news_pager .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__author,
        .cern-view-display-block.cern-view-display-latest_news_pager .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__category,
        .cern-view-display-block.cern-view-display-latest_news_pager .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__date,
        .cern-view-display-block.cern-view-display-latest_news_pager .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__author,
        .cern-view-display-block.cern-view-display-latest_featured_news_pager .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__category,
        .cern-view-display-block.cern-view-display-latest_featured_news_pager .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__date,
        .cern-view-display-block.cern-view-display-latest_featured_news_pager .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__author,
        .cern-view-display-block.cern-view-display-latest_featured_news_pager .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__category,
        .cern-view-display-block.cern-view-display-latest_featured_news_pager .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__date,
        .cern-view-display-block.cern-view-display-latest_featured_news_pager .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__author,
        .cern-view-display-block.cern-view-display-latest_news .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__category,
        .cern-view-display-block.cern-view-display-latest_news .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__date,
        .cern-view-display-block.cern-view-display-latest_news .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__author,
        .cern-view-display-block.cern-view-display-latest_news .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__category,
        .cern-view-display-block.cern-view-display-latest_news .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__date,
        .cern-view-display-block.cern-view-display-latest_news .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__author,
        .cern-view-display-block.cern-view-display-latest_featured_news .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__category,
        .cern-view-display-block.cern-view-display-latest_featured_news .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__date,
        .cern-view-display-block.cern-view-display-latest_featured_news .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__author,
        .cern-view-display-block.cern-view-display-latest_featured_news .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__category,
        .cern-view-display-block.cern-view-display-latest_featured_news .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__date,
        .cern-view-display-block.cern-view-display-latest_featured_news .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__author {
          color: white;
          font-weight: 200; }
          .cern-view-display-block.cern-view-display-latest_news_pager .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__category a, .cern-view-display-block.cern-view-display-latest_news_pager .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__date a, .cern-view-display-block.cern-view-display-latest_news_pager .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__author a,
          .cern-view-display-block.cern-view-display-latest_news_pager .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__category a,
          .cern-view-display-block.cern-view-display-latest_news_pager .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__date a,
          .cern-view-display-block.cern-view-display-latest_news_pager .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__author a,
          .cern-view-display-block.cern-view-display-latest_featured_news_pager .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__category a,
          .cern-view-display-block.cern-view-display-latest_featured_news_pager .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__date a,
          .cern-view-display-block.cern-view-display-latest_featured_news_pager .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__author a,
          .cern-view-display-block.cern-view-display-latest_featured_news_pager .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__category a,
          .cern-view-display-block.cern-view-display-latest_featured_news_pager .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__date a,
          .cern-view-display-block.cern-view-display-latest_featured_news_pager .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__author a,
          .cern-view-display-block.cern-view-display-latest_news .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__category a,
          .cern-view-display-block.cern-view-display-latest_news .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__date a,
          .cern-view-display-block.cern-view-display-latest_news .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__author a,
          .cern-view-display-block.cern-view-display-latest_news .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__category a,
          .cern-view-display-block.cern-view-display-latest_news .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__date a,
          .cern-view-display-block.cern-view-display-latest_news .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__author a,
          .cern-view-display-block.cern-view-display-latest_featured_news .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__category a,
          .cern-view-display-block.cern-view-display-latest_featured_news .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__date a,
          .cern-view-display-block.cern-view-display-latest_featured_news .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__author a,
          .cern-view-display-block.cern-view-display-latest_featured_news .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__category a,
          .cern-view-display-block.cern-view-display-latest_featured_news .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__date a,
          .cern-view-display-block.cern-view-display-latest_featured_news .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__author a {
            color: white;
            font-weight: 200; }
        .cern-view-display-block.cern-view-display-latest_news_pager .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__avatar,
        .cern-view-display-block.cern-view-display-latest_news_pager .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__avatar,
        .cern-view-display-block.cern-view-display-latest_featured_news_pager .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__avatar,
        .cern-view-display-block.cern-view-display-latest_featured_news_pager .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__avatar,
        .cern-view-display-block.cern-view-display-latest_news .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__avatar,
        .cern-view-display-block.cern-view-display-latest_news .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__avatar,
        .cern-view-display-block.cern-view-display-latest_featured_news .view-content .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__avatar,
        .cern-view-display-block.cern-view-display-latest_featured_news .carousel-cern-item.row .views-row .component-preview-cards .component-preview-cards__box_wrapper .preview-card__avatar {
          width: 65px !important;
          height: 65px !important;
          min-height: 0;
          background: #999999;
          border-radius: 100%;
          padding: 0; }

.cern-view-display-block.cern-view-display-latest_featured_news_pager .view-content.owl-carousel,
.cern-view-display-block.cern-view-display-latest_news_pager .view-content.owl-carousel {
  margin: 0;
  min-height: 226px; }

@media only screen and (max-width: 991px) {
  .news-node-full-content-latest-news .cern-view-display-block.cern-view-display-latest_news .view-content {
    display: block; }
    .news-node-full-content-latest-news .cern-view-display-block.cern-view-display-latest_news .view-content .views-row {
      width: 100%;
      padding: 0 !important;
      margin-bottom: 10px; } }
@media only screen and (max-width: 991px) {
  .cern-view-display-block.cern-view-display-latest_news_pager .view-content .views-row,
  .cern-view-display-block.cern-view-display-latest_featured_news_pager .view-content .views-row,
  .cern-view-display-block.cern-view-display-latest_news .view-content .views-row,
  .cern-view-display-block.cern-view-display-latest_featured_news .view-content .views-row {
    width: calc(100% - 16px) !important;
    height: 210px !important; }
    .cern-view-display-block.cern-view-display-latest_news_pager .view-content .views-row .component-preview-cards,
    .cern-view-display-block.cern-view-display-latest_featured_news_pager .view-content .views-row .component-preview-cards,
    .cern-view-display-block.cern-view-display-latest_news .view-content .views-row .component-preview-cards,
    .cern-view-display-block.cern-view-display-latest_featured_news .view-content .views-row .component-preview-cards {
      height: 100% !important; } }
/* ALL NEWS PAGE VIEW */
.path-news #pre-main-content {
  background: darkgray url("../../images/featured_image.jpg") no-repeat center top/cover; }
  .path-news #pre-main-content .block-title {
    margin: 20px auto 40px !important;
    text-align: center;
    color: white;
    text-transform: uppercase; }

.path-news main {
  padding-top: 3rem; }
  .path-news main .block-views-blocknews-latest-featured-news-pager .view-footer {
    display: none; }

.path-news .view-cern-all-news > h1 {
  margin: 3rem 0 !important;
  text-align: center; }

.path-news .cern-page-display-page .wrapper-center > h1, .path-news .cern-page-display-page > h1 {
  margin: 3rem 0 !important;
  text-align: center; }
.path-news .cern-page-display-page .views-exposed-form .form-inline {
  margin: 0 -10px; }
  .path-news .cern-page-display-page .views-exposed-form .form-inline .form-item {
    vertical-align: top;
    /* input, select {
              border-color: black;
              color: black;
          } */ }
    .path-news .cern-page-display-page .views-exposed-form .form-inline .form-item:first-child {
      display: block;
      text-align: center;
      position: relative; }
      .path-news .cern-page-display-page .views-exposed-form .form-inline .form-item:first-child > input {
        width: 98%;
        margin: 0 auto 15px auto;
        height: 40px;
        padding-left: 40px; }
      .path-news .cern-page-display-page .views-exposed-form .form-inline .form-item:first-child:before {
        content: 'O';
        font-family: "cern-icons";
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        left: 8px;
        width: 25px;
        height: 25px;
        top: 8px;
        text-align: center;
        line-height: 21px;
        font-weight: 500;
        padding-right: 2px;
        font-size: 46px;
        color: #0855a0; }
    .path-news .cern-page-display-page .views-exposed-form .form-inline .form-item > input {
      display: block; }
    .path-news .cern-page-display-page .views-exposed-form .form-inline .form-item:not(:first-child) {
      width: calc((100% / 7) - 20px) !important;
      margin: 10px !important;
      /* label {
                  font-size: 1.3rem;
                  font-family: "opensans-regular";
              } */ }
      .path-news .cern-page-display-page .views-exposed-form .form-inline .form-item:not(:first-child) input {
        width: 100%; }
      .path-news .cern-page-display-page .views-exposed-form .form-inline .form-item:not(:first-child) div.select-wrapper select {
        width: 100%; }
  .path-news .cern-page-display-page .views-exposed-form .form-inline .form-actions {
    width: calc((100% / 7) - 40px) !important;
    margin: 10px !important;
    vertical-align: bottom !important;
    text-align: right !important; }
    .path-news .cern-page-display-page .views-exposed-form .form-inline .form-actions button {
      width: 100%;
      /* background: #999999;
              border-color: #999999;
              &:hover, &:active, &:focus {
                  background: #999999;
                  border-color: #999999;
              } */ }
.path-news .cern-page-display-page .view-header {
  margin: 50px 0;
  text-transform: uppercase;
  font-family: "opensans-bold"; }
  .path-news .cern-page-display-page .view-header a {
    position: relative; }
    .path-news .cern-page-display-page .view-header a.active:after {
      content: ' ';
      position: absolute;
      width: 100%;
      height: 2px;
      background: #0855a0;
      bottom: -2px;
      left: 0; }
.path-news .cern-page-display-page .view-footer {
  text-align: right; }
.path-news .cern-page-display-page .view-content {
  margin: 35px 0 0 0; }
  .path-news .cern-page-display-page .view-content .views-row {
    margin-bottom: 25px;
    float: none; }

@media only screen and (max-width: 991px) {
  .path-news .cern-page-display-page .views-exposed-form .form-inline .form-item {
    display: inline-block; }
    .path-news .cern-page-display-page .views-exposed-form .form-inline .form-item:first-child {
      margin: 10px 5px 10px 5px; }
      .path-news .cern-page-display-page .views-exposed-form .form-inline .form-item:first-child:before {
        left: 0px; }
    .path-news .cern-page-display-page .views-exposed-form .form-inline .form-item:not(:first-child) {
      width: calc((100% / 3) - 23px) !important; }
  .path-news .cern-page-display-page .views-exposed-form .form-inline .form-actions {
    display: inline-block;
    text-align: right;
    width: calc(100% - 20px) !important; }
    .path-news .cern-page-display-page .views-exposed-form .form-inline .form-actions button {
      width: calc((100% / 3) - 23px) !important; } }
@media only screen and (max-width: 500px) {
  .path-news .cern-page-display-page .views-exposed-form .form-inline {
    margin: 0; }
    .path-news .cern-page-display-page .views-exposed-form .form-inline .form-item:first-child > input {
      width: 100%; }
    .path-news .cern-page-display-page .views-exposed-form .form-inline .form-item:first-child:before {
      left: -5px; }
    .path-news .cern-page-display-page .views-exposed-form .form-inline .form-item:not(:first-child), .path-news .cern-page-display-page .views-exposed-form .form-inline .form-item:first-child {
      width: 100% !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      display: block !important; }
    .path-news .cern-page-display-page .views-exposed-form .form-inline .form-actions {
      display: block !important;
      width: 100% !important;
      margin: 0px !important; }
      .path-news .cern-page-display-page .views-exposed-form .form-inline .form-actions button {
        width: auto !important; }
  .path-news .cern-page-display-page .view-content .views-row {
    margin: 0 0 25px 0; } }
@media only screen and (max-width: 767px) {
  .cern-view-display-page.cern-view-display-all_news_filter,
  .cern-view-display-page.cern-view-display-all_news .view-header {
    margin-bottom: 25px; }

  .cern-view-display-page.cern-view-display-all_news_filter,
  .cern-view-display-page.cern-view-display-all_news .view-content {
    margin: 0; }
    .cern-view-display-page.cern-view-display-all_news_filter .views-row,
    .cern-view-display-page.cern-view-display-all_news .view-content .views-row {
      margin: 0 0 16px 0 !important; }
      .cern-view-display-page.cern-view-display-all_news_filter .views-row .views-field .field-content,
      .cern-view-display-page.cern-view-display-all_news .view-content .views-row .views-field .field-content {
        display: block; }
        .cern-view-display-page.cern-view-display-all_news_filter .views-row .views-field .field-content .box-pattern,
        .cern-view-display-page.cern-view-display-all_news .view-content .views-row .views-field .field-content .box-pattern {
          float: none !important; }
      .cern-view-display-page.cern-view-display-all_news_filter .views-row .preview-list-component,
      .cern-view-display-page.cern-view-display-all_news .view-content .views-row .preview-list-component {
        display: none !important; } }
/* @media only screen and (max-width: 500px) {
  .cern-view-display-page.cern-view-display-all_news .view-content .views-row  {
    padding: 0 !important;
  }
} */
@media only screen and (min-width: 768px) {
  .cern-view-display-page.cern-view-display-all_news_filter .view-content .views-row .box-pattern,
  .cern-view-display-page.cern-view-display-all_news .view-content .views-row .box-pattern {
    display: none !important; }
  .cern-view-display-page.cern-view-display-all_news_filter .view-content .views-row .preview-list-component .preview-list-news-info .preview-list-title,
  .cern-view-display-page.cern-view-display-all_news .view-content .views-row .preview-list-component .preview-list-news-info .preview-list-title {
    margin-top: -5px; } }

/*# sourceMappingURL=news-views.css.map */
