.sidebar-left nav,
.sidebar-right nav {
  padding: 15px; }
  .sidebar-left nav ul,
  .sidebar-right nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .sidebar-left nav ul > li,
    .sidebar-right nav ul > li {
      font-size: 21px;
      font-size: 2.1rem;
      display: block;
      font-family: "opensans-regular";
      width: 100%; }
      .sidebar-left nav ul > li a,
      .sidebar-right nav ul > li a {
        display: block; }
        .sidebar-left nav ul > li a:hover, .sidebar-left nav ul > li a:focus,
        .sidebar-right nav ul > li a:hover,
        .sidebar-right nav ul > li a:focus {
          text-decoration: none; }
        .sidebar-left nav ul > li a .caret,
        .sidebar-right nav ul > li a .caret {
          font-size: 14px;
          font-size: 1.4rem;
          border: 0;
          width: 15px;
          height: 20px; }
          .sidebar-left nav ul > li a .caret::before,
          .sidebar-right nav ul > li a .caret::before {
            -webkit-transition: all 0.6s ease-in-out 0s;
            -khtml-transition: all 0.6s ease-in-out 0s;
            -moz-transition: all 0.6s ease-in-out 0s;
            -ms-transition: all 0.6s ease-in-out 0s;
            -o-transition: all 0.6s ease-in-out 0s;
            transition: all 0.6s ease-in-out 0s;
            content: '\70';
            display: block;
            font-family: "cern-icons";
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            font-size: 40px;
            font-size: 4rem;
            line-height: 20px;
            position: absolute; }
      .sidebar-left nav ul > li ul,
      .sidebar-right nav ul > li ul {
        margin: 5px 0 0 10px; }
        .sidebar-left nav ul > li ul li,
        .sidebar-right nav ul > li ul li {
          font-size: 16px;
          font-size: 1.6rem;
          font-family: "sourcesans-light";
          margin: 0;
          padding: 0; }
          .sidebar-left nav ul > li ul li a,
          .sidebar-right nav ul > li ul li a {
            display: inline-block;
            padding: 5px 0 8px 20px;
            position: relative; }
            .sidebar-left nav ul > li ul li a:before,
            .sidebar-right nav ul > li ul li a:before {
              -webkit-transform: rotate(270deg);
              -khtml-transform: rotate(270deg);
              -moz-transform: rotate(270deg);
              -ms-transform: rotate(270deg);
              -o-transform: rotate(270deg);
              transform: rotate(270deg);
              filter: progid:DXImageTransform.Microsoft.Matrix( M11=0, M12=0, M21=0, M22=0, sizingMethod='auto expand');
              zoom: 1;
              -webkit-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
              -khtml-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
              -moz-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
              -ms-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
              -o-transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
              transition: color 0.6s ease-in-out 0s, left 0.6s ease-in-out 0s;
              font-size: 20px;
              font-size: 2rem;
              content: '\71';
              float: left;
              font-family: "cern-icons";
              -moz-osx-font-smoothing: grayscale;
              -webkit-font-smoothing: antialiased;
              display: block;
              top: 1px;
              left: -6px;
              position: absolute; }
            .sidebar-left nav ul > li ul li a:after,
            .sidebar-right nav ul > li ul li a:after {
              -webkit-transition: all 0.6s ease-in-out 0s;
              -khtml-transition: all 0.6s ease-in-out 0s;
              -moz-transition: all 0.6s ease-in-out 0s;
              -ms-transition: all 0.6s ease-in-out 0s;
              -o-transition: all 0.6s ease-in-out 0s;
              transition: all 0.6s ease-in-out 0s;
              background: transparent;
              border-bottom: 2px solid #f3a530;
              content: '';
              display: block;
              height: 2px;
              width: 0%;
              position: absolute;
              bottom: 3px;
              left: 0;
              margin: 0 0 0 20px;
              max-width: calc(100% - 20px); }
            .sidebar-left nav ul > li ul li a:hover, .sidebar-left nav ul > li ul li a.is-active,
            .sidebar-right nav ul > li ul li a:hover,
            .sidebar-right nav ul > li ul li a.is-active {
              background: none; }
              .sidebar-left nav ul > li ul li a:hover:before, .sidebar-left nav ul > li ul li a.is-active:before,
              .sidebar-right nav ul > li ul li a:hover:before,
              .sidebar-right nav ul > li ul li a.is-active:before {
                left: 2px;
                color: #f3a530; }
              .sidebar-left nav ul > li ul li a:hover:after, .sidebar-left nav ul > li ul li a.is-active:after,
              .sidebar-right nav ul > li ul li a:hover:after,
              .sidebar-right nav ul > li ul li a.is-active:after {
                width: 100%; }
      .sidebar-left nav ul > li.menu-item--active-trail a,
      .sidebar-right nav ul > li.menu-item--active-trail a {
        color: #f3a530; }
        .sidebar-left nav ul > li.menu-item--active-trail a .caret::before,
        .sidebar-right nav ul > li.menu-item--active-trail a .caret::before {
          -webkit-transform: rotate(180deg);
          -khtml-transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          -o-transform: rotate(180deg);
          transform: rotate(180deg);
          filter: progid:DXImageTransform.Microsoft.Matrix( M11=0, M12=0, M21=0, M22=0, sizingMethod='auto expand');
          zoom: 1; }
      .sidebar-left nav ul > li.menu-item--active-trail .dropdown-menu,
      .sidebar-right nav ul > li.menu-item--active-trail .dropdown-menu {
        display: block; }
        .sidebar-left nav ul > li.menu-item--active-trail .dropdown-menu a,
        .sidebar-right nav ul > li.menu-item--active-trail .dropdown-menu a {
          color: #ffffff; }
      .sidebar-left nav ul > li.open a .caret::before,
      .sidebar-right nav ul > li.open a .caret::before {
        -webkit-transform: rotate(180deg);
        -khtml-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
        filter: progid:DXImageTransform.Microsoft.Matrix( M11=0, M12=0, M21=0, M22=0, sizingMethod='auto expand');
        zoom: 1; }
    .sidebar-left nav ul .dropdown-menu,
    .sidebar-right nav ul .dropdown-menu {
      -webkit-border-radius: 0;
      -khtml-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      -khtml-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      -ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      -o-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      position: static;
      float: none;
      padding: 0;
      font-size: 14px;
      text-align: left;
      background-color: transparent;
      border: 0; }
      .sidebar-left nav ul .dropdown-menu > li a,
      .sidebar-right nav ul .dropdown-menu > li a {
        white-space: normal; }
        .sidebar-left nav ul .dropdown-menu > li a:hover,
        .sidebar-right nav ul .dropdown-menu > li a:hover {
          color: inherit; }
    .sidebar-left nav ul .dropdown-backdrop,
    .sidebar-right nav ul .dropdown-backdrop {
      display: none; }

@media only screen and (max-width: 1023px) {
  .sidebar-left nav ul > li,
  .sidebar-right nav ul > li {
    font-size: 16px;
    font-size: 1.6rem;
    margin: 0 0 15px; }
    .sidebar-left nav ul > li ul li a,
    .sidebar-right nav ul > li ul li a {
      font-size: 14px;
      font-size: 1.4rem; } }
