header, header .header-wrapper {
  clear: both; }
  header:before, header .header-wrapper:before, header:after, header .header-wrapper:after {
    content: "";
    display: table; }
  header:after, header .header-wrapper:after {
    clear: both; }

body.not-enougth-scroll header {
  -webkit-transition: all 0.3s ease-in-out 0.4s;
  -khtml-transition: all 0.3s ease-in-out 0.4s;
  -moz-transition: all 0.3s ease-in-out 0.4s;
  -ms-transition: all 0.3s ease-in-out 0.4s;
  -o-transition: all 0.3s ease-in-out 0.4s;
  transition: all 0.3s ease-in-out 0.4s; }

header {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -khtml-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  position: relative;
  z-index: 500; }
  header .header-wrapper {
    margin: auto;
    min-height: 70px;
    padding: 20px 5% 15px; }
    header .header-wrapper > nav {
      float: right; }
  header .site-info {
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    header .site-info__logo {
      padding: 0 10px 0 0; }
      header .site-info__logo img {
        -webkit-transition: all 0.3s ease-in-out 0s;
        -khtml-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        width: auto;
        height: auto;
        max-height: 76px; }
    header .site-info__text {
      -webkit-transition: all 0.3s ease-in-out 0s;
      -khtml-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      -ms-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -webkit-align-content: center;
      -moz-align-content: center;
      -ms-align-content: center;
      align-content: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      line-height: 1;
      min-height: 100%; }
      header .site-info__text__name {
        font-size: 20px;
        font-size: 2rem;
        font-family: "sourcesans-semibold";
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        margin-bottom: 10px; }
      header .site-info__text__slogan {
        -webkit-transition: all 0.3s ease-in-out 0s;
        -khtml-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        filter: alpha(opacity=100);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -webkit-opacity: 1;
        -khtml-opacity: 1;
        -moz-opacity: 1;
        -ms-opacity: 1;
        -o-opacity: 1;
        opacity: 1;
        font-size: 16px;
        font-size: 1.6rem;
        font-family: "sourcesans-regular";
        max-width: 100%; }
  header .site-info + .site-nav nav {
    float: right; }
  header .nav > li {
    margin: 0 15px; }
    header .nav > li > a {
      -webkit-transition: all 0.3s ease-in-out 0s;
      -khtml-transition: all 0.3s ease-in-out 0s;
      -moz-transition: all 0.3s ease-in-out 0s;
      -ms-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
      font-size: 16px;
      font-size: 1.6rem;
      font-family: "opensans-bold";
      padding: 0;
      line-height: 76px;
      position: relative;
      text-transform: uppercase;
      text-shadow: 1px 0px 1px black, 0px 1px 1px black, -1px 0px 1px black, 0px -1px 1px black, 0 0 1px black; }
      header .nav > li > a:after {
        -webkit-transition: width 0.3s ease-in-out 0s;
        -khtml-transition: width 0.3s ease-in-out 0s;
        -moz-transition: width 0.3s ease-in-out 0s;
        -ms-transition: width 0.3s ease-in-out 0s;
        -o-transition: width 0.3s ease-in-out 0s;
        transition: width 0.3s ease-in-out 0s;
        content: '';
        display: block;
        height: 2px;
        width: 0%;
        position: absolute;
        bottom: 19px;
        left: 0; }
      header .nav > li > a:hover {
        background: transparent; }
        header .nav > li > a:hover:after {
          width: 100%; }
      header .nav > li > a:focus {
        background: transparent; }
      header .nav > li > a .caret {
        position: absolute;
        right: -20px;
        top: 49%; }
    header .nav > li:first-child {
      margin: 0 15px 0 0; }
  header .dropdown-menu {
    padding: 18px 0 0; }
    header .dropdown-menu:before {
      content: '';
      width: 0px;
      height: 0px;
      background: transparent;
      border-width: 12px;
      border-style: solid;
      position: absolute;
      top: -24px;
      left: 10px; }
    header .dropdown-menu > li {
      margin: 0 15px 0 10px; }
      header .dropdown-menu > li > a {
        -webkit-transition: all 0.3s ease-in-out 0s;
        -khtml-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        display: inline-block;
        padding: 0 0 15px 20px;
        position: relative; }
        header .dropdown-menu > li > a:before {
          -webkit-transition: all 0.6s ease-in-out 0s;
          -khtml-transition: all 0.6s ease-in-out 0s;
          -moz-transition: all 0.6s ease-in-out 0s;
          -ms-transition: all 0.6s ease-in-out 0s;
          -o-transition: all 0.6s ease-in-out 0s;
          transition: all 0.6s ease-in-out 0s;
          font-size: 40px;
          font-size: 4rem;
          content: '\j';
          font-family: "cern-icons";
          -moz-osx-font-smoothing: grayscale;
          -webkit-font-smoothing: antialiased;
          display: block;
          position: absolute;
          top: -2px;
          left: -15px;
          line-height: 22px; }
        header .dropdown-menu > li > a:after {
          -webkit-transition: all 0.3s ease-in-out 0s;
          -khtml-transition: all 0.3s ease-in-out 0s;
          -moz-transition: all 0.3s ease-in-out 0s;
          -ms-transition: all 0.3s ease-in-out 0s;
          -o-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s;
          content: '';
          display: block;
          height: 2px;
          width: 0%;
          position: absolute;
          bottom: 13px;
          left: 0;
          margin: 0 0 0 18px;
          max-width: calc(100% - 18px); }
        header .dropdown-menu > li > a:hover {
          background: none; }
          header .dropdown-menu > li > a:hover:before {
            left: -8px; }
          header .dropdown-menu > li > a:hover:after {
            width: 100%; }

nav.main-menu a.is-active::after, nav.main-menu a:hover::after {
  width: 100%; }
nav.main-menu a.is-active::before, nav.main-menu a:hover::before {
  left: -15px; }
nav.main-menu .dropdown-menu > li > a {
  min-height: 36px; }

.site-nav.has-search nav.main-menu li.search-item {
  display: block; }

nav.main-menu li.search-item {
  display: none; }
nav.main-menu li a.search-link {
  padding-left: 25px;
  position: relative; }
  nav.main-menu li a.search-link:before {
    font-size: 40px;
    font-size: 4rem;
    content: 'O';
    display: inline-block;
    font-family: "cern-icons";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    left: -3px;
    position: absolute;
    top: calc(50% - 12px);
    line-height: 24px;
    width: 23px;
    text-indent: -8px; }
nav.main-menu.has-search li.search-item {
  display: block; }

.path-search nav.main-menu li a.search-link:after {
  width: 100%; }

.has-header header.menu-expanded {
  background: #343a40;
  z-index: 600; }

.has-header header {
  background: transparent;
  position: absolute;
  width: 100%;
  z-index: 1; }
.has-header main {
  position: relative;
  z-index: 0; }
.has-header .tabs {
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 10;
  background: transparent; }

body.has-header.toolbar-fixed main nav.tabs {
  top: calc(100vh - 64px); }
body.has-header.toolbar-fixed.toolbar-vertical main nav.tabs {
  top: calc(100vh - 64px); }
body.has-header.toolbar-fixed:not(.toolbar-vertical).toolbar-tray-open main nav.tabs {
  top: calc(100vh - 103px); }
body.has-header.cern-toolbar main nav.tabs {
  top: calc(100vh - 40px); }
@media only screen and (max-width: 767px) {
  body.has-header.cern-toolbar.toolbar-vertical .cern-component-header-blocks.component-header {
    height: calc(100vh - 104px); } }
body.has-header.cern-toolbar.toolbar-fixed main nav.tabs {
  top: calc(100vh - 104px); }
body.has-header.cern-toolbar.toolbar-fixed.toolbar-vertical main nav.tabs {
  top: calc(100vh - 104px); }
body.has-header.cern-toolbar:not(.toolbar-vertical).toolbar-tray-open main nav.tabs {
  top: calc(100vh - 143px); }

@media only screen and (max-width: 1160px) {
  header > nav {
    margin: 0 3% 0 0;
    padding: 10px 0 0; }
  header .site-info__logo img {
    position: relative;
    left: -30px; } }
@media only screen and (max-width: 1024px) {
  header .site-info__text__name {
    text-overflow: ellipsis; }
  header .site-info__text__slogan {
    text-overflow: ellipsis; } }
@media only screen and (max-width: 1023px) {
  header .header-wrapper > nav {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    float: none;
    width: 100%;
    z-index: 1; }
    header .header-wrapper > nav .navbar-nav {
      margin: 25px 0 0;
      float: right;
      width: 100%; } }
@media only screen and (max-width: 991px) {
  header .site-info__logo {
    float: left; }
    header .site-info__logo img {
      position: relative;
      left: auto;
      right: auto;
      margin: auto; } }
@media only screen and (max-width: 767px) {
  header .header-wrapper > nav {
    width: 100%; }
    header .header-wrapper > nav .navbar-nav {
      float: none;
      margin: 5px 0;
      width: 100%; }
  header .header-wrapper .navbar {
    width: 100%; }
  header .header-wrapper .navbar-collapse.collapse.in,
  header .header-wrapper .navbar-collapse.collapsing {
    padding: 0 3%; }
  header .dropdown-menu {
    padding: 0; }
    header .dropdown-menu::before {
      display: none; }
    header .dropdown-menu > li > a::before {
      top: 4px; }
  header .site-info {
    width: 80%;
    z-index: 1;
    float: left;
    min-height: 60px !important; }
    header .site-info__logo {
      float: left; }
      header .site-info__logo img {
        max-height: 60px;
        max-width: initial; }
    header .site-info__text {
      float: left;
      width: 100%; }
      header .site-info__text__name {
        font-size: 16px;
        font-size: 1.6rem;
        text-overflow: ellipsis; }
      header .site-info__text__slogan {
        display: none; }
  header .site-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 0;
    height: 100%; }
    header .site-nav > .region-header {
      height: 100%; }
      header .site-nav > .region-header > nav {
        height: 100%; }
        header .site-nav > .region-header > nav > .navbar {
          height: 100%; }
          header .site-nav > .region-header > nav > .navbar > .container-fluid {
            height: 100%; }
            header .site-nav > .region-header > nav > .navbar > .container-fluid > .navbar-header {
              height: 100%; }
  header .site-info + .site-nav nav {
    float: none; } }
@media only screen and (max-width: 640px) {
  header .site-info__text {
    width: 90%;
    max-height: 60px; } }
@media only screen and (max-width: 360px) {
  header .site-info__text {
    width: 80%; } }
header .navbar-default {
  background: none;
  border: 0; }
  header .navbar-default .navbar-toggle:hover,
  header .navbar-default .navbar-toggle:focus,
  header .navbar-default .navbar-toggle {
    -webkit-transition: all 0.3s ease-in-out 0s;
    -khtml-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    background: none;
    border: 0;
    margin: 0;
    position: relative;
    top: 30%; }
  header .navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff; }
  header .navbar-default .navbar-nav > .open > a,
  header .navbar-default .navbar-nav > .open > a:hover,
  header .navbar-default .navbar-nav > .open > a:focus {
    background: transparent; }

header .navbar {
  min-height: 10px;
  margin-bottom: 0; }

header .navbar-collapse.collapse.in,
header .navbar-collapse.collapsing {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -khtml-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  padding: 0 10px 0 35px;
  width: 100%;
  position: absolute;
  border-color: #191919; }
  header .navbar-collapse.collapse.in .nav > li:first-child,
  header .navbar-collapse.collapse.in .nav > li,
  header .navbar-collapse.collapsing .nav > li:first-child,
  header .navbar-collapse.collapsing .nav > li {
    margin: 0; }
    header .navbar-collapse.collapse.in .nav > li:first-child a,
    header .navbar-collapse.collapse.in .nav > li a,
    header .navbar-collapse.collapsing .nav > li:first-child a,
    header .navbar-collapse.collapsing .nav > li a {
      display: inline;
      line-height: 35px; }
      header .navbar-collapse.collapse.in .nav > li:first-child a::after,
      header .navbar-collapse.collapse.in .nav > li a::after,
      header .navbar-collapse.collapsing .nav > li:first-child a::after,
      header .navbar-collapse.collapsing .nav > li a::after {
        bottom: -3px; }

header .navbar-default.main-menu .navbar-toggle {
  padding: 0;
  top: 43px; }

header nav[id*="main-menu"] .navbar-collapse.collapse.in .dropdown-menu::before,
header nav[id*="main-menu"] .navbar-collapse.collapsing .dropdown-menu::before {
  display: none; }
header nav[id*="main-menu"] .navbar-collapse.collapse.in .dropdown-menu > li > a,
header nav[id*="main-menu"] .navbar-collapse.collapsing .dropdown-menu > li > a {
  padding: 0 0 0 18px; }
  header nav[id*="main-menu"] .navbar-collapse.collapse.in .dropdown-menu > li > a::before,
  header nav[id*="main-menu"] .navbar-collapse.collapsing .dropdown-menu > li > a::before {
    line-height: 20px;
    width: 8px;
    text-indent: -22px;
    left: -5px;
    top: 0; }
  header nav[id*="main-menu"] .navbar-collapse.collapse.in .dropdown-menu > li > a.is-active::before, header nav[id*="main-menu"] .navbar-collapse.collapse.in .dropdown-menu > li > a:hover::before,
  header nav[id*="main-menu"] .navbar-collapse.collapsing .dropdown-menu > li > a.is-active::before,
  header nav[id*="main-menu"] .navbar-collapse.collapsing .dropdown-menu > li > a:hover::before {
    left: 5px; }

.open-cern-menu.nosticky-header,
.sticky-header {
  /* #toolbar-administration {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  } */ }
  .open-cern-menu.nosticky-header header,
  .sticky-header header {
    position: fixed !important;
    width: 100%;
    z-index: 500;
    top: 0; }
  .open-cern-menu.nosticky-header.toolbar-fixed header,
  .sticky-header.toolbar-fixed header {
    top: 39px;
    margin-top: 0 !important; }
  .open-cern-menu.nosticky-header.toolbar-fixed.toolbar-tray-open header,
  .sticky-header.toolbar-fixed.toolbar-tray-open header {
    top: 78px; }
  .open-cern-menu.nosticky-header.toolbar-fixed.toolbar-tray-open.toolbar-vertical header,
  .sticky-header.toolbar-fixed.toolbar-tray-open.toolbar-vertical header {
    top: 39px; }

.sticky-header:not(.open-cern-menu) header .header-wrapper {
  padding: 10px 5%; }
.sticky-header:not(.open-cern-menu) header .site-info__logo {
  max-width: 25%;
  width: auto; }
  .sticky-header:not(.open-cern-menu) header .site-info__logo img {
    max-height: 50px; }
.sticky-header:not(.open-cern-menu) header .site-info__text__slogan {
  display: none; }
.sticky-header:not(.open-cern-menu) header .nav > li > a {
  line-height: 56px; }
  .sticky-header:not(.open-cern-menu) header .nav > li > a:after {
    bottom: 9px; }
.sticky-header:not(.open-cern-menu) header .navbar-default .navbar-toggle:hover,
.sticky-header:not(.open-cern-menu) header .navbar-default .navbar-toggle:focus,
.sticky-header:not(.open-cern-menu) header .navbar-default .navbar-toggle {
  top: 20%; }
.sticky-header:not(.open-cern-menu) header .navbar-default.main-menu .navbar-toggle {
  top: 43px; }

@media only screen and (max-width: 610px) {
  .sticky-header.toolbar-vertical header {
    top: 39px; } }
.sticky-header.no-admin-toolbar header {
  top: 0 !important; }

nav.tabs .tabs--primary {
  font-size: 14px;
  font-size: 1.4rem; }

header .header-wrapper .main-menu .navbar-collapse.collapse.in,
header .header-wrapper .main-menu .navbar-collapse.collapsing {
  height: calc(100vh - 70px); }

.toolbar-fixed header .header-wrapper .main-menu .navbar-collapse.collapse.in,
.toolbar-fixed header .header-wrapper .main-menu .navbar-collapse.collapsing,
.toolbar-fixed.toolbar-tray-open header .header-wrapper .main-menu .navbar-collapse.collapse.in,
.toolbar-fixed.toolbar-tray-open header .header-wrapper .main-menu .navbar-collapse.collapsing,
.toolbar-fixed.toolbar-tray-open.toolbar-vertical header .header-wrapper .main-menu .navbar-collapse.collapse.in,
.toolbar-fixed.toolbar-tray-open.toolbar-vertical header .header-wrapper .main-menu .navbar-collapse.collapsing,
.toolbar-vertical header .header-wrapper .main-menu .navbar-collapse.collapse.in,
.toolbar-vertical header .header-wrapper .main-menu .navbar-collapse.collapsing {
  height: calc(100vh - 110px); }

header .navbar-default .navbar-toggle,
header .navbar-default .navbar-toggle:hover,
header .navbar-default .navbar-toggle:focus,
header .navbar-default .navbar-toggle:active,
header .navbar-collapse.collapse.in {
  -webkit-transition: all 0s ease-in-out 0s;
  -khtml-transition: all 0s ease-in-out 0s;
  -moz-transition: all 0s ease-in-out 0s;
  -ms-transition: all 0s ease-in-out 0s;
  -o-transition: all 0s ease-in-out 0s;
  transition: all 0s ease-in-out 0s; }
header .site-info {
  min-height: 76px; }
header.menu-expanded .site-info {
  min-height: 60px; }

.sticky-header header .site-info {
  min-height: 50px; }

/*# sourceMappingURL=header.css.map */
